---

layout: homepage

---
{% for post in site.posts limit:3 %}
<!--Blog layout for bigger toys-->
<div class="row no-phone" style="margin-bottom:100px">
	<div class="span2">
		<div style="width:110px; height:110px; background-color:#1b64ae; padding-top:12px">
			<h3 class="date">
				{% assign m = post.date | date: "%B" %} 
				{% case m %}
				  {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
				  {% when 'September' %}Sept
				  {% else %}{{ post.date | date: "%b" }}
				{% endcase %}
				
			</h3>
			<h3 class="date">
				{% assign d = post.date | date: "%-d" %}
				{% case d %}
				  {% when '1' or '21' or '31' %}{{ d }}st
				  {% when '2' or '22' %}{{ d }}nd
				  {% when '3' or '23' %}{{ d }}rd
				  {% else %}{{ d }}th
				{% endcase %}
			</h3>
		</div>
	</div>
	<div class="span9">
		<a href="{{ post.url }}">
			<h3>{{ post.title }}</h3></a>
		{% if post.description %}
		<p>{{ post.description }}</p>
		{% endif %}
	</div>
</div>

<!--Blog layout for mobile-->
<div class="row on-phone no-desktop no-tablet"  style="margin-bottom:40px">
	<div class="span2">
		<div style="width:80px; height:80px; background-color:#1b64ae; padding-top:12px; margin:0 auto 0 auto; display:block">
			<h3 class="date-mobile">
				{% assign m = post.date | date: "%B" %} 
				{% case m %}
				  {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
				  {% when 'September' %}Sept
				  {% else %}{{ post.date | date: "%b" }}
				{% endcase %}
				
			</h3>
			<h3 class="date-mobile">
				{% assign d = post.date | date: "%-d" %}
				{% case d %}
				  {% when '1' or '21' or '31' %}{{ d }}st
				  {% when '2' or '22' %}{{ d }}nd
				  {% when '3' or '23' %}{{ d }}rd
				  {% else %}{{ d }}th
				{% endcase %}
			</h3>
		</div>
	</div>
	<div class="span9">
		<a href="{{ post.url }}">
			<h3 class="h3-mobile" style="line-height:4.2rem; margin-bottom:3px !important;">{{ post.title }}</h3></a>
<!-- 			<h3 class="date-mobile">
				{% assign m = post.date | date: "%B" %} 
				{% assign d = post.date | date: "%-d" %}
				{% case m %}
				  {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
				  {% when 'September' %}Sept
				  {% else %}{{ post.date | date: "%b" }}
				{% endcase %}
				{% case d %}
				  {% when '1' or '21' or '31' %}{{ d }}st
				  {% when '2' or '22' %}{{ d }}nd
				  {% when '3' or '23' %}{{ d }}rd
				  {% else %}{{ d }}th
				{% endcase %}
			</h3> -->
		{% if post.description %}
		<p style="font-size:13.4px; margin-bottom:4px">{{ post.description }}</p>
		<p><a href="{{ post.url }}" style="font-size:13.4px;"> Read More</a></p>
		{% endif %}
	</div>
</div>
{% endfor %}
