<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1"></meta>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		
		<title>nexDev | Windows apps</title>


		<link rel="stylesheet" href="../../../css/metro-bootstrap.css">
		<link rel="stylesheet" href="../../../css/metro-bootstrap-responsive.min.css">
		<link rel="stylesheet" href="../../../css/iconFont.min.css">
		
		<script src="../../../js/jquery.min.js"></script>
		<script src="../../../js/jquery.widget.min.js"></script>
		<script src=",./../../js/metro.min.js"></script>
		
		<script type="text/javascript">
		</script>
	</head>
	
	<body class="metro">
		<section class="grid no-phone" style="background-color:#1b64ae; height:20px">
			<div class="container">
				<div class="grid" style="padding-top:20px">	
					<h1 style="font-size:3.4em; margin-bottom:30px; color:rgba(0, 0, 0, 0.6)"> {{ page.title }} </h1>
					{{ content }}
				</div>
			</div>
		</section>
	</body>
</html>